* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
.form {
  width: 40%;
}
.date {
  box-sizing: border-box;
  border: none;
  width: 100%;
}
div.error--active {
  display: block;
}
.error {
  display: none;
  color: red;
  margin-bottom: 5px;
}